* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

:root {
  --line-border-fill: rgb(243, 24, 24);
  --line-border-empty: rgb(62, 245, 62);
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 10px 10px 30px 10px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  /* when using ::before or ::after, set content to empty string -> content: "";  */
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.5s ease;
}

.circle {
  background-color: rgb(36, 31, 31);
  color: gainsboro;
  border-radius: 50%;
  height: 30px;
  width: 30px;

  /* centering the numbers in the circle */
  display: flex;
  align-items: center;
  justify-content: center;

  border: 4px solid var(--line-border-empty);
  transition: 0.5s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: rgba(255, 255, 255, 0.527);
  color: black;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
  padding: 10px 35px;
  margin: 20px;
  font-size: 20px;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
