* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__headerImage {
  /* Keeps the aspect ratio even if the container is stretched */
  object-fit: contain;
  background-color: white;
  border-bottom: 2px solid lightgray;
  padding: 20px;
}
