@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  /* Keeps the aspect ratio even if the container is stretched */
  object-fit: contain;
  background-color: white;
  border-bottom: 2px solid lightgray;
  padding: 20px;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
