.post {
  max-width: 30rem;
  background-color: white;
  border: 1px solid #ccc;
  margin-bottom: 39px;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border: 1px 0 1px 0 solid #ccc;
}

.post__text {
  font-weight: normal;
  padding: 20px;
  font-family: source sans pro;
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 15px;
}
.post__avatar {
  margin-right: 12px;
}

.post__commentBox {
  display: flex;
}

.post__input {
  border: none;
  padding: 5px;
  flex: 1;
  border: 1.3px solid lightgray;
}

.post__button {
  flex: 0;
  border: none;
  background-color: transparent;
}

.post__comments {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
