@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsla(211, 66%, 87%, 1);

  background: linear-gradient(
    90deg,
    hsla(211, 66%, 87%, 1) 0%,
    hsla(348, 67%, 88%, 1) 50%,
    hsla(272, 26%, 72%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(211, 66%, 87%, 1) 0%,
    hsla(348, 67%, 88%, 1) 50%,
    hsla(272, 26%, 72%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(211, 66%, 87%, 1) 0%,
    hsla(348, 67%, 88%, 1) 50%,
    hsla(272, 26%, 72%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C9DEF4", endColorstr="#F5CCD4", GradientType=1 );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
}

.note {
  flex: 1;

  border-radius: 11px;
  margin: 1.1rem;
  padding: 1.2rem;
  min-height: 10rem;
  min-width: 20rem;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: lato;
  overflow-wrap: break-word;

  background: rgba(255, 247, 14, 0.623);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.note__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add {
  background: rgba(125, 211, 33, 0.753);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

textarea {
  background: rgba(125, 211, 33, 0);

  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
}

.note--save {
  background-color: white;
  border-radius: 12px;
  border: none;
  padding: 5px 10px;
  transition: 0.5s;
}

.note--save:hover {
  box-shadow: 0 0 3px black;
  cursor: pointer;
  background-color: whitesmoke;
}

.note__delete {
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-top: 5rem;
  border-radius: 11px;
  padding: 7px;
  margin-bottom: 1.3rem;
  height: 2.5rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.search-container input {
  border: none;
  width: 100%;
  background-color: rgba(128, 128, 128, 0);
}

.search-container input:focus {
  outline: none;
}
