.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(202, 214, 223);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding-left: 10px;
  padding-right: 10px;
}
