* {
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  font-family: 'Lato', sans-serif;

  /* Centering */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  margin: 0;
}
