:root {
  --valid-color: rgb(19, 224, 19);
  --invalid-color: rgb(238, 8, 8);
  --x: rgb(238, 8, 8);
}

* {
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  font-family: 'Lato', sans-serif;

  /* Background gradient color */
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );

  /* Centering */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  margin: 0;
}

.container {
  background-color: rgb(252, 251, 251);
  border-radius: 10px;
  box-shadow: 0 2px 40px rgb(17, 16, 16);
  width: 500px;
}

.form-control {
  margin: 20px;

  position: relative;
}

.form {
  padding: 15px 35px;
}

h1 {
  text-align: center;
  margin: 40px;
}

.form button {
  cursor: pointer;
  display: block;
  border: 3px solid orangered;
  background-color: orangered;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  color: white;
  font-size: 15px;
  margin-top: 70px;
}

.form-control label {
  color: rgb(0, 0, 0);
  display: block;
  margin-bottom: 15px;
}

.form-control input {
  border: 3px solid rgb(230, 211, 211);
  border-radius: 5px;
  display: block;
  padding: 15px;
  font-size: 15px;
  width: 100%;
}

.form-control.success input {
  border-color: var(--valid-color);
}
.form-control.error input {
  border-color: var(--invalid-color);
}

.form-control small {
  color: var(--invalid-color);
  position: absolute;
  bottom: -1;
  left: -1;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}
