* {
  margin: 0;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__left {
  flex: 0.8;
}

body {
  background-color: #ecd0d0;
}

.app {
  display: flex;
  padding: 15px;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}
