* {
  margin: 0;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: #ecd0d0;
}
