.stats {
  cursor: pointer;
  flex: 1;
}

.stats:not(:last-child) {
  margin-right: 10px;
}

.stats--selected {
  border-top: 10px solid rgb(157, 247, 22);
}

.stats--red {
  border-color: red;
}

.stats__cases--green {
  color: rgb(0, 255, 0) !important;
}

.stats__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.stats__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
